.back-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-link {
  font: "Roboto";
  color: #26c6da;
  font-weight: 600;
  text-decoration: none;
}

.login-link-des {
  font: "Roboto Slab";
  /*fontStyle: normal;*/
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #002226;
}

.login-link:hover {
  color: #6ef9ff;
}

.btn-login-txt {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

.password-input,
.login-input {
  width: 75%;
}

.btn-login-txt {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
}

.login-text {
  font: "Roboto";
  /*fontStyle: normal;*/
  font-weight: 400;
  font-size: 25px;
  line-height: 2px;
  letter-spacing: 1.25px;
  color: #002226;
}

.wrong-input {
  color: #f44336;
}
