.btn-email-text {
  color: #26c6da;
}

.btn-signup-text {
  color: white;
}

.btn-texts-login {
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.login-data {
  letter-spacing: 1px;
  padding-right: 20px;
}
